---
import translations from "../bad_ore_translations/en_us.json";
import Layout from "../layouts/Layout.astro";

const ores = Object.keys(translations)
    .filter((k) => k.endsWith(".name"))
    .map((k) => {
        const id = k.split(".")[1];
        const name: string = translations[k];
        const description: string = translations[`badores.${id}.description`];
        const texture =
            id === "lookslikediamondium"
                ? "https://assets.mcasset.cloud/1.21.8/assets/minecraft/textures/block/diamond_ore.png"
                : `https://raw.githubusercontent.com/bluKae/bad-ores/main/src/main/resources/assets/badores/textures/block/${id}_ore.png`;
        return { id, name, description, texture };
    });
---

<Layout>
    <h1 class="pt-24 text-2xl tracking-tighter">Book of Ums and Ites</h1>

    {
        ores.map((ore) => (
            <section id={ore.id} class="my-20 relative">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 16 16"
                    fill="none"
                    class="absolute left-[-74px]"
                >
                    <defs>
                        <image
                            id={`${ore.id}_texture`}
                            width="16"
                            height="16"
                            href={ore.texture}
                            image-rendering="pixelated"
                        />
                    </defs>
                    <use
                        transform="matrix(0.5 0.25 0 0.5 0 4)"
                        href={`#${ore.id}_texture`}
                    />
                    <use
                        transform="matrix(0.5 -0.25 0 0.5 8 8)"
                        href={`#${ore.id}_texture`}
                    />
                    <use
                        transform="matrix(0.5 0.25 -0.5 0.25 8 0)"
                        href={`#${ore.id}_texture`}
                    />
                </svg>
                <h2 class="font-light text-4xl my-3 leading-relaxed">
                    {ore.name}
                </h2>
                <p>{ore.description}</p>
            </section>
        ))
    }
</Layout>
